<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="76x56" href="/PHCB-So/assets/img/logo/logo-only.png">
    <link rel="icon" type="image/png" href="/PHCB-So/assets/img/logo/logo-only.png">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="/assets/css/loginUI.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {{{ body }}}
</body>
</html>