<div id="main-wrapper" class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="mb-5">
                                    <h3 class="h4 font-weight-bold text-theme">Đổi mật khẩu</h3>
                                </div>
                                <h6 class="h5 mb-0">Hãy nhập mật khẩu mới</h6>
                                <p class="mt-2 mb-5 {{#if message}}alert-success success p-3{{else}}text-muted{{/if}}">
                                    {{#if message}}{{message}}{{else}}"Chúc mừng bạn, OTP đã chính xác, sau đây hãy nhập
                                    mật khẩu mới".{{/if}}</p>
                                <form id="formChangeNewPassword" onsubmit="changePassword(event)"
                                    enctype="application/x-www-form-urlencoded">
                                    <div class="form-group">
                                        <label for="newPassword" class="form-label">Mật khẩu mới</label>
                                        <input class="form-control" type="password" id="newPassword"
                                            name="newPassword" />
                                    </div>
                                    <div class="form-group mb-5">
                                        <label for="confirmPassword" class="form-label">Xác nhận mật khẩu mới</label>
                                        <input class="form-control" type="password" id="confirmPassword"
                                            name="confirmPassword" oninput="checkPasswordMatch(event)" />
                                    </div>
                                    <button type="submit" class="btn btn-theme">Đổi mật khẩu</button>
                                    <a href="/login" class="forgot-link float-right text-primary">Đăng nhập</a>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 d-none d-lg-inline-block">
                            <div class="account-block rounded-right">
                                <div class="overlay rounded-right"></div>
                                <div class="account-testimonial">
                                    <h4 class="text-white mb-4">Ad Management System</h4>
                                    <p class="lead text-white">"Best investment we made for a long time. Can only
                                        recommend it for other users."</p>
                                    <p>- Development Team -</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function checkPasswordMatch(event) {
        event.preventDefault();

        let password = document.querySelector("#newPassword");
        let confirmPassword = document.querySelector("#confirmPassword");

        if (confirmPassword.value != password.value) {
            confirmPassword.setCustomValidity('Mật khẩu không khớp!');
            // confirmPassword.reportValidity();
        } else {
            confirmPassword.setCustomValidity('');
        }
    }
</script>
<script>
     async function changePassword(e) {
        e.preventDefault();

        const formData = new FormData(document.getElementById("formChangeNewPassword"));
        const data = Object.fromEntries(formData.entries());

        try {
            const response = await fetch('/reset-password', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            });

            if (response.ok) {
                console.log('Password changed successfully!');
                history.replaceState({}, '', '/login');
            } else {
                console.error('Password change failed:', response.statusText);
                alert('Quá trình xử lý đã bị lỗi. Vui lòng thử lại!');
            }
        } catch (error) {
            console.error('Error during password change:', error.message);
        }
        location.reload();

    }
</script>