
{{> PHCB-Quan/sidebar curPage="Trang chủ"}}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    {{> PHCB-Quan/navbar curPage="Trang chủ"}}
    <!-- End Navbar -->
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div
                            class="bg-gradient-primary shadow-primary border-radius-lg pt-3 pb-1 d-flex justify-content-between align-items-center">
                            <h6 class="text-white text-capitalize ps-3">Trang chủ</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="listMapContainer" >

                        </div>

                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                            <div class="offcanvas-header">
                                <h4 class="offcanvas-title" id="offcanvasExampleLabel">Thông tin chi tiết</h4>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
                                    <i class="fa fa-times fs-4"></i>
                                </button>
                            </div>
                            <div class="offcanvas-body" id="rightSidePanelBody">
                                
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalShowReport" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chi tiết báo cáo</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times fs-4"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="formbold-main-wrapper">
                        <div class="formbold-form-wrapper">
                            <form id="adBannerDialogReportForm">
                                <div class="formbold-input-flex">
                                    <div>
                                        <input type="text" name="firstname" id="firstnameReport" placeholder="Jane"
                                            class="formbold-form-input" readonly />
                                        <label for="firstnameReport" class="formbold-form-label"> Họ và tên </label>
                                    </div>
                                    <div>
                                        <select name="lastname" id="lastnameReport" class="formbold-form-input"
                                            disabled>
                                            <option value="Tố giác sai phạm">Tố giác sai phạm</option>
                                            <option value="Đăng ký nội dung">Đăng ký nội dung</option>
                                            <option value="Đóng góp ý kiến">Đóng góp ý kiến</option>
                                            <option value="Giải đáp thắc mắc">Giải đáp thắc mắc</option>
                                        </select>
                                        <label for="lastnameReport" class="formbold-form-label"> Loại báo cáo </label>
                                    </div>
                                </div>
                                <div class="formbold-input-flex">
                                    <div>
                                        <input type="email" name="email" id="emailReport" placeholder="jhon@mail.com"
                                            class="formbold-form-input" readonly />
                                        <label for="emailReport" class="formbold-form-label"> Email </label>
                                    </div>
                                    <div>
                                        <input type="text" name="phone" id="phoneReport" placeholder="(319) 555-0115"
                                            class="formbold-form-input" readonly />
                                        <label for="phoneReport" class="formbold-form-label"> Điện thoại </label>
                                    </div>
                                </div>
                                <div class="formbold-textarea">
                                    <textarea rows="6" name="message" id="messageReport"
                                        placeholder="Write your message..." class="formbold-form-input"
                                        readonly></textarea>
                                    <label for="messageReport" class="formbold-form-label"> Nội dung báo cáo </label>
                                </div>

                                <label class="formbold-form-label" style="margin-top: 20px;"> Hình ảnh báo cáo </label>

                                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleCaptions"
                                            data-bs-slide-to="0" class="active" aria-current="true"
                                            aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleCaptions"
                                            data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img id="imgReportDetail1" class="d-block w-100" alt="Không có hình ảnh">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5>Hình ảnh 1</h5>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <img id="imgReportDetail2" class="d-block w-100" alt="Không có hình ảnh">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5>Hình ảnh 2</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> PHCB-Quan/footer}}

</main>