.customDown {
    --bs-dropdown-inner-border-radius: 0.375rem;
    --bs-dropdown-divider-bg: transparent;
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --bs-dropdown-link-color: #7b809a;
    --bs-dropdown-link-hover-color: #344767;
    --bs-dropdown-link-hover-bg: #f0f2f5;
    --bs-dropdown-link-active-color: #7b809a;
    --bs-dropdown-link-active-bg: transparent;
    --bs-dropdown-link-disabled-color: #6c757d;
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.3rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 120px;
    padding: 8px 5px;
    margin: 8px;
    font-size: 14px;
    color: #7b809a;
    text-align: left;
    list-style: none;
    background-color: #e6e6e6;
    background-clip: padding-box;
    border: 0 solid transparent;
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    right: 60px;
}

.customDown:before {
    font-family: "FontAwesome";
    content: "\f0d8";
    position: absolute;
    top: -18px;
    left: 95px;
    right: auto;
    font-size: 22px;
    color: #e6e6e6;
    transition: top 0.35s ease;
}

@media (max-width: 991.98px) {
    .customDown:before {
        display: none !important;
    }
}
@media (max-width: 575.98px) {
    .customDown {
        right: 5px;
        left: auto;
    }
}

.customDown-item {
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.customDown-item:hover,
.customDown-item:focus {
    color: var(--bs-dropdown-link-hover-color);
    background-color: var(--bs-dropdown-link-hover-bg);
}

.detail-ward .modal-lg, .detail-place .modal-lg {
    max-width: 500px;
}

.card-header .btn {
    margin-bottom: 10px;
}

#addWardModal .form-label, #editWardModal .form-label,
#addPlaceModal .form-label, #editPlaceModal .form-label,
#addAccountModal .form-label, #editAccountModal .form-label {
    text-transform: uppercase;
    font-weight: 500;
}
#addWardModal .modal-header, #addWardModal .modal-footer, 
#editWardModal .modal-header, #editWardModal .modal-footer,
#addPlaceModal .modal-header, #addPlaceModal .modal-footer, 
#editPlaceModal .modal-header, #editPlaceModal .modal-footer,
#addAccountModal .modal-header, #addAccountModal .modal-footer {
    border: none;
}

.form-check {
    padding-left: 0.125rem;
}

.form-check-label {
    color: rgb(0, 116, 217);
}

.bg-label-primary {
    background-color: rgba(0, 116, 217, 0.2);
}

.select-form-control {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 100% 50%;
}

.add-modal .modal-lg{
    max-width: auto;
}

.dropdown-menu {
    width: 200px; 
}

.form-select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 110px;
}

.form-select option:checked {
    background-color: #007bff; 
    color: #fff; 
}

.slide-image{
    height:300px;   
    object-fit: cover;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

}

#listMapContainer {
    height: 550px;
    width: 100%;
    border: 1px solid #cdced0;
    cursor: pointer;
}

.place-detail-information {
    display: block;
    height: auto;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    margin-top: 10px;
}

.placeDetailsButtonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.placeDetailsButton {
    background-color: inherit;
    cursor: pointer;
}

.report-detail-information {
    display: block;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(34, 187, 51, 0.75);
    color: white;
}

.reportAdBannerContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

.formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.formbold-form-wrapper {
    margin: 0 auto;
    max-width: 90%;
    width: 100%;
    background: white;
}

.formbold-input-flex {
    display: flex;
    gap: 20px;
    margin-bottom: 22px;
}

.formbold-input-flex>div {
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
}

.formbold-textarea {
    display: flex;
    flex-direction: column-reverse;
}

.formbold-form-input {
    width: 100%;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #DDE3EC;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    color: #07074D;
    outline: none;
    resize: none;
}

.formbold-form-input::placeholder {
    color: #536387;
}

.formbold-form-input:focus {
    border-color: #4c89e5;
}

.formbold-form-label {
    color: #07074D;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin-bottom: 18px;
}

.formbold-form-input:focus+.formbold-form-label {
    color: #4c89e5;
}

.formbold-input-file {
    margin-top: 30px;
}

.formbold-input-file input[type="file"] {
    position: absolute;
    top: 6px;
    left: 0;
    z-index: -1;
}

.formbold-input-file .formbold-input-label {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.formbold-filename-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 22px;
}

.formbold-filename {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 24px;
    color: #536387;
}

.formbold-filename svg {
    cursor: pointer;
}

.formbold-btn {
    font-size: 16px;
    border-radius: 5px;
    padding: 12px 25px;
    border: none;
    font-weight: 500;
    background-color: #4c89e5;
    color: white;
    cursor: pointer;
    margin-top: 25px;
}

.formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.modal-lg {
    max-width: 700px;
}